<div class="advantage">
    <div class="advantage-wrap">
        <div class="advantage-title">Наши преимущества</div>
        <div class="advantage__blocks">
            <div class="advantage__block">
                <div class="advantage-cont">


                    <div class="advantage__block-count">
                        01
                    </div>
                    <img src="../img/documents.svg" alt="">
                    <div class="advantage__block-title">
                        Прозрачность
                    </div>
                    <div class="advantage__block-text">
                        По каждой сделке предоставляем агентский отчет с платежными поручениями
                    </div>
                </div>
            </div>
            <div class="advantage__block">
                <div class="advantage__block-count">
                    01
                </div>
                <img class="advantage__block-img_simple" src="../img/documents.svg" alt="">
                <img class="advantage__block-img_hover" src="../img/product.svg" alt="">
                <div class="advantage__block-title">
                    Прозрачность
                </div>
                <div class="advantage__block-text">
                    По каждой сделке предоставляем агентский отчет с платежными поручениями
                </div>
            </div>
            <div class="advantage__block">
                <div class="advantage__block-count">
                    01
                </div>
                <img src="../img/documents.svg" alt="">
                <div class="advantage__block-title">
                    Прозрачность
                </div>
                <div class="advantage__block-text">
                    По каждой сделке предоставляем агентский отчет с платежными поручениями
                </div>
            </div>
            <div class="advantage__block">
                <div class="advantage__block-count">
                    01
                </div>
                <img src="../img/documents.svg" alt="">
                <div class="advantage__block-title">
                    Прозрачность
                </div>
                <div class="advantage__block-text">
                    По каждой сделке предоставляем агентский отчет с платежными поручениями
                </div>
            </div>
        </div>
    </div>
</div>