.advantage {
  @include padding-vertical-30();

  .advantage-wrap {
    @include container();
  }

  .advantage-title {
    @include padding-vertical-30();
    font-family: Gilroy;
    font-weight: 400;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .advantage__blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .advantage__block {
    padding: 15px 20px;
    display: grid;
    gap: 1rem;
    box-shadow: 0px 4px 48px 0px #F62F3040;
    position: relative;
    z-index: 500;
  }
  .advantage-cont{
    background-color: white;
    z-index: 1000;
    //position: relative;
  }
  .advantage__block-count{
    position: absolute;
    right: 20px;
    top: -17px;
    z-index: -1;
    font-family: Gilroy;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #C6C6C6;

  }
  .advantage__block-title {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .advantage__block{
    .advantage__block-img_hover {
    display: none;
  }
}
  .advantage__block:hover{
    background: linear-gradient(270deg, #CE0708 0%, #F62F30 100%);
    color: white;
    .advantage__block-img_hover{
      display: block;
    }
    .advantage__block-img_simple{
      display: none;
    }
  }


@media #{$mobile-only-two} {
  .advantage__blocks {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 1rem));
    gap: 1rem;
  }
  .advantage-title{
    font-size: 30px;
  }
  .advantage__block-title{
    font-size: 16px;
  }
}
}