<div class="r-articles">
    <div class="r-articles-wrap">
        <div class="r-articles-title">
            Статьи
        </div>
        <div class="r-articles__blocks">
            <div class="r-articles__block">
                <div class="r-articles__block-img">
                    <img src="../img/art2.png" alt="">
                </div>
                <div class="r-articles__block-data">
                    21/01/2025
                </div>
                <div class="r-articles__block-text">
                    «Никакой сделки подписано не было»: Илон Маск уточнил заявление Дурова о годовом партнёрстве Telegram и xAI
                </div>
            </div>
            <div class="r-articles__block">
                <div class="r-articles__block-img">
                    <img src="../img/art2.png" alt="">
                </div>
                <div class="r-articles__block-data">
                    21/01/2025
                </div>
                <div class="r-articles__block-text">
                    «Никакой сделки подписано не было»: Илон Маск уточнил заявление Дурова о годовом партнёрстве Telegram и xAI
                </div>
            </div>
            <div class="r-articles__block">
                <div class="r-articles__block-img">
                    <img src="../img/art2.png" alt="">
                </div>
                <div class="r-articles__block-data">
                    21/01/2025
                </div>
                <div class="r-articles__block-text">
                    «Никакой сделки подписано не было»: Илон Маск уточнил заявление Дурова о годовом партнёрстве Telegram и xAI
                </div>
            </div>
            <div class="r-articles__block">
                <div class="r-articles__block-img">
                    <img src="../img/art2.png" alt="">
                </div>
                <div class="r-articles__block-data">
                    21/01/2025
                </div>
                <div class="r-articles__block-text">
                    «Никакой сделки подписано не было»: Илон Маск уточнил заявление Дурова о годовом партнёрстве Telegram и xAI
                </div>
            </div>
        </div>

    </div>
</div>