<div class="r-expert">
    <div class="r-expert-wrap">
        <div class="r-expert-left">
            <div class="r-expert-left-img">
                <img src="../img/expert1.svg" alt="">
            </div>
            <div class="r-expert-title">
                Sinotrade Expert  — <br>аккредитованный партнер РЭЦ
            </div>
        </div>
        <div class="r-expert-right">
            <img src="../img/expert2.svg" alt="">
        </div>
    </div>
</div>