<div class="r-sells">
    <div class="r-sells-wrap">
        <div class="r-sells__blocks">
            <div class="r-sells__block">
                <div class="r-sells__block-title">
                    Гарантийные обязательства
                </div>
                <div class="r-sells-text">
                    Благодаря прямым контрактам с производителями и оптимизированной логистике, мы предлагаем лучшие цены на рынке без переплат посредникам.
                </div>
                <div class="r-sells__block-img">
                    <img src="../img/sell1.svg" alt="">
                </div>
            </div>
            <div class="r-sells__block">
                <div class="r-sells__block-title">
                    Гарантийные обязательства
                </div>
                <div class="r-sells-text">
                    Благодаря прямым контрактам с производителями и оптимизированной логистике, мы предлагаем лучшие цены на рынке без переплат посредникам.
                </div>
                <div class="r-sells__block-img">
                    <img src="../img/sell2.svg" alt="">
                </div>
            </div>


        </div>
    </div>
</div>