<div class="r-footer">
    <div class="r-footer-wrap">
        <div class="r-footer__menus">
            <div class="r-footer__menu">
                <div class="r-footer__menu-title">
                    Промышленное оборудование
                </div>
                <ul>
                    <li><a href="">Токарные и фрезерные станки по металлу</a></li>
                    <li><a href="">Установки лазерного раскроя</a></li>
                    <li><a href="">Деревообрабатывающее оборудование</a></li>
                    <li><a href="">Калибрально-шлифовальные станки</a></li>
                    <li><a href="">Насосы</a></li>
                </ul>
            </div>
            <div class="r-footer__menu">
                <div class="r-footer__menu-title">
                    Промышленное оборудование
                </div>
                <ul>
                    <li><a href="">Токарные и фрезерные станки по металлу</a></li>
                    <li><a href="">Установки лазерного раскроя</a></li>
                    <li><a href="">Деревообрабатывающее оборудование</a></li>
                    <li><a href="">Калибрально-шлифовальные станки</a></li>
                    <li><a href="">Насосы</a></li>
                </ul>
            </div>
            <div class="r-footer__menu">
                <div class="r-footer__menu-title">
                    Промышленное оборудование
                </div>
                <ul>
                    <li><a href="">Токарные и фрезерные станки по металлу</a></li>
                    <li><a href="">Установки лазерного раскроя</a></li>
                    <li><a href="">Деревообрабатывающее оборудование</a></li>
                    <li><a href="">Калибрально-шлифовальные станки</a></li>
                    <li><a href="">Насосы</a></li>
                </ul>
            </div>
        </div>
        <div class="r-footer-sections">
            <div class="r-footer-section">
                <div class="r-footer-section-img">
                    <img src="../img/logo.svg" alt="">
                </div>
                <div class="r-footer-section-brend">
                    © ООО "Синотрейд Эксперт"
                </div>
                <div class="r-footer-section-map">
                    <a href="">Карта сайта</a>
                </div>
            </div>
            <div class="r-footer-section">
                <ul>
                    <li><a href="">Кейсы</a></li>
                    <li><a href="">Новости</a></li>
                    <li><a href="">О нас</a></li>

                </ul>
            </div>
           
            <div class="r-footer-section">
                <div class="r-footer-section-title">
                    Телефоны
                </div>
                <ul>
                    <li><a href="">8 (800) 550-35-93 </a>бесплатно по России</li>
                    <li><a href="">+7 (916) 841-66-75 </a>Москва</li>
                    <li><a href="">+7 (914) 703-28-36 </a>Владивосток</li>
                    <li><a href="">hello@sinotradeexpert.ru</a></li>
                </ul>
            </div>
            <div class="r-footer-section">
                <div class="r-footer-section-title">
                    Соц сети
                </div>
                <div class="r-footer-section-social">
                    <a href=""><img src="../img/vk.svg" alt=""></a>
                    <a href=""><img src="../img/tg.svg" alt=""></a>
                    <a href=""><img src="../img/wta.svg" alt=""></a>
                </div>


            </div>
        </div>
    </div>
</div>