<div class="r-catalog">
    <div class="r-catalog-wrap">
        <div class="r-catalog-top">
            <div class="r-catalog__blocks">
                <div class="r-catalog__block  r-catalog__block_active" id="r-catalog__block-1">
                    Промышленное оборудование
                </div>
                <div class="r-catalog__block " id="r-catalog__block-2">
                    Промышленное оборудование 2
                </div>
                <div class="r-catalog__block " id="r-catalog__block-3">
                    Промышленное оборудование 3
                </div>
            </div>
        </div>
        <div class="r-catalog__contents">

            <div class="r-catalog__content r-catalog__block-1 r-catalog__content_active">
                <div class="r-catalog__blockswiper-1">


                    <div class=" swiper-wrapper ">
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat2.png" alt="">
                            </div>

                            <div class="r-catalog-swiper__text">
                                Токарные и фрезерные станки по металлу
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat1.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Токарные и фрезерные станки по металлу
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat2.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Электроэрозионные станки
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat1.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Электроэрозионные станки
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat2.png" alt="">
                            </div>

                            <div class="r-catalog-swiper__text">
                                Токарные и фрезерные станки по металлу
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat1.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Токарные и фрезерные станки по металлу
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat2.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Электроэрозионные станки
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat1.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Электроэрозионные станки
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination1 swiper-pagination"></div>


                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="r-catalog__content r-catalog__block-2 ">
                <div class="r-catalog__blockswiper-2">
                    <div class=" swiper-wrapper ">
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat2.png" alt="">
                            </div>

                            <div class="r-catalog-swiper__text">
                                Токарные и фрезерные станки по металлу
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat1.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Токарные и фрезерные станки по металлу
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat2.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Электроэрозионные станки
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat1.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Электроэрозионные станки
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat2.png" alt="">
                            </div>

                            <div class="r-catalog-swiper__text">
                                Токарные и фрезерные станки по металлу
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat1.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Токарные и фрезерные станки по металлу
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat2.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Электроэрозионные станки
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat1.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Электроэрозионные станки
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination2 swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="r-catalog__content r-catalog__block-3 ">
                <div class="r-catalog__blockswiper-3">
                    <div class=" swiper-wrapper ">
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat2.png" alt="">
                            </div>

                            <div class="r-catalog-swiper__text">
                                Токарные и фрезерные станки по металлу
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat1.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Токарные и фрезерные станки по металлу
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat2.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Электроэрозионные станки
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat1.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Электроэрозионные станки
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat2.png" alt="">
                            </div>

                            <div class="r-catalog-swiper__text">
                                Токарные и фрезерные станки по металлу
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat1.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Токарные и фрезерные станки по металлу
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat2.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Электроэрозионные станки
                            </div>
                        </div>
                        <div class="r-catalog-swiper swiper-slide">
                            <div class="r-catalog-swiper__img">
                                <img src="../img/cat1.png" alt="">
                            </div>
                            <div class="r-catalog-swiper__text">
                                Электроэрозионные станки
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination3 swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>

        </div>

    </div>
</div>