<div class="r-banner">

    {% include './header.twig' %}

    <div class="r-banner-wrap">
        <div class="r-banner-gradiend">

        </div>
        <div class="r-banner-cont">
            <div class="r-banner-title">
                Свыше 5000
            </div>
            <div class="r-banner-subtitle">
                наименований в наличие на нашем складе
            </div>
            <div class="r-banner-btn">
                <a href="">Оставить заявку</a><img src="../img/Arrowright.svg" alt="">
            </div>
        </div>
        <div class="r-banner-img">
            <img src="../img/young-man-working-warehouse-with-boxes.svg" alt="">
        </div>

    </div>



</div>