.r-banner{
  background-color: #202020;
  position: relative;
  overflow: hidden;
  .r-header{
    height: 100px;
    background-color: #202020;
    z-index: 1000;
  }
  .r-header-wrap{
    @include container();
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-content: center;

  }
  .r-header-menu{
    display: flex;
    align-items: center;
  }
  .r-header-logo{
    display: flex;
    align-content: center;
    img{
      max-width: 200px;
    }
  }
  .r-banner-img{
    img{
      max-width: 100%;
    }
  }
  .r-header-menu ul{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    a{
      color: white;
    }
  }
  .r-banner-wrap{
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    @include container();

    //grid-auto-flow: column;
  }
  .swiper-pagination-banner{
    text-align: center;
      .swiper-pagination-bullet{
        width: 24px;
        height: 4px;
        border: unset;
        border-radius: 0;
      }
      .swiper-pagination-bullet-active{
          background-color: $color-red-main;
      }

  }
  .r-banner-gradiend{
    position: absolute;
    left: -10%;
    top: 0;
    height: 75%;
    width: 20%;
    background: radial-gradient(50% 50% at 50% 50%, #CE0708 0%, #202020 100%);
    display: none;
  }
  .r-banner-cont{
    display: grid;
    align-content: center;
    gap: 1rem;
  }
  .r-banner-title{
    font-family: Gilroy;
    font-weight: 500;
    font-size: 74px;
    line-height: 100%;
    letter-spacing: 0%;

  }
  .r-banner-subtitle{
    font-family: Gilroy;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;

  }
  .r-banner-btn{
    background: linear-gradient(270deg, #CE0708 0%, #F62F30 100%);
    display: grid;
    grid-auto-flow: column;
    max-width: 306px;
    height: 72px;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
  }
  .r-banner-btn a{
    color: white;
    font-family: Gilroy;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

  }
  @import "./banner-mob";
}