<div class="r-header">
    <div class="r-header-wrap">
        <div class="r-header-logo">
            <img src="../img/logo.svg" alt="">
        </div>
        <div class="r-header-menu">
            {% include './menu.twig' %}
        </div>
    </div>

</div>