
    <ul>
        <li><a href="">Наши услуги</a></li>
        <li><a href="">Наши услуги</a></li>
        <li><a href="">Наши услуги</a></li>
        <li><a href="">Наши услуги</a></li>
        <li><a href="">Наши услуги</a></li>
        <li><a href=""><img src="../img/search.svg" alt=""></a></li>

    </ul>

