<div class="r-item swiper-slide">
    <div class="r-item-img">
        <img src="../img/item1.png" alt="">
    </div>
    <div class="r-item-title">
        SD-карта 1Гб, Mettler Toledo
    </div>
    <div class="r-item-art r-item-beetwen">
        <span>Артикул:</span><span>DM_51192017</span>
    </div>
    <div class="r-item-num r-item-beetwen">
        <span>Номер товара:</span><span>47027</span>
    </div>
    <div class="r-item-price r-item-beetwen">
        <span>Цена:</span><span class="r-item-price-red">По запросу</span>
    </div>
    <div class="r-item__buttons">
        <div class="r-item__button">
            <a href="">Подробнее</a>
        </div>
        <div class="r-item__button r-item__button-add">
            <a href="">В корзину</a><img src="../img/addcarta.svg" alt="">
        </div>
    </div>
</div>
