<div class="r-popular">
    <div class="r-popular-title">
        Популярные товары
    </div>
    <div class="popular-wrap">
        <div class="r-items r-items-slider">
            <div class="swiper-wrapper">
                {% include './item.twig' %}
                {% include './item.twig' %}

                {% include './item.twig' %}

                {% include './item.twig' %}
                {% include './item.twig' %}

            </div>
            <div class="swiper-pagination-good"></div>
        </div>
    </div>
</div>